html{
    top:0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
   gap:0;
    /* background-color: cornsilk; */
    
  

}

.Home{
    
    background-image: repeating-linear-gradient(45deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(41, 27, 158),rgb(249, 77, 212));
    color: white;
    border-radius: 10px;
    
    margin: 5px 0;
    padding: 5px 0;
 
    height: 500px;

 
    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    justify-content: top;
    align-items: center;


}

.Home .p-name{
    /* color:rgb(3, 10, 95); */
    font-weight: 800;
}

.Home .p-job{
    /* color: rgb(84, 66, 32); */
}

.Home .p-welcome{
   
    /* color: #330b02; */
}


.Home .Home-Container{
    
    height: fit-content;
    width: 90%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.Home .Home-Container img{
    height: 300px;
    border-radius: 50%;
    margin: 8px 0px;
}




.Home .Home-Container .Home-Information{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.Home .Home-Container .Home-Information h4{
    margin-right: 20ch;
}

.Home .Home-Container .Home-Information h3{
    margin-left: 15ch;
}

.Home .Home-Container p{
    padding: 10px;
    text-align: justify;
    text-indent: 5ch;
}

.Home .Home-Container .img{
    display: flex;
    justify-content: center;
}


.Home button{
    background-color: rgb(5, 132, 244);
    border-radius: 10px;
    padding:5px;
    margin: 8px;
    border: none;
   
}

.Home a{
    text-decoration: none;
    color:white;
    padding: 10px;
    
}

/* Down Symbol Styling */
.down-symbol {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #FFFFFF; /* White color */
  }
  

@media (max-width:800px) {
    header{
       
        background-image: none;
    }
    .Home{
       
        top: 0;
    
        /* left: 0; */
     
    }

    .Home .Home-Container{
        
        flex-direction: column; height: 100%;}

    .Home{ height: 800px; }

    .Home .Home-Container{ width: 100%; }

    .Home .Home-Container img{
             height: 250px;
             width: 250px; }
}









.animated-element {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated-element-right {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }