.Skills{
    background-color: #7de9e9;
    background-image: repeating-linear-gradient(90deg, hsla(292,0%,98%,0.05) 0px, hsla(292,0%,98%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(292,0%,98%,0.05) 0px, hsla(292,0%,98%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(292,0%,98%,0.07) 0px, hsla(292,0%,98%,0.07) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(90deg, hsla(292,0%,98%,0.07) 0px, hsla(292,0%,98%,0.07) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(64, 139, 254),rgb(104, 21, 247));
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 0px;
  
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.Skills h1{
    text-align: center;
 
  

}
*{
    --text-colors:white;
}
.Skills-cen{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.Skills-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   

}

.Skills-field{
    flex: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    

}


.Skills-field li{
    
    list-style-type: none;
    gap: 10px;

    text-align: center;

    padding: 5px;
    margin: 5px;
    border-width: 2px;
    border-style:solid;
    border-color: rgb(2, 32, 130);
    border-color: rgb(0, 0, 0);
    
    
    border-radius: 10px;
    width: 20ch;
    color: black;
    font-size: 1.1rem;

      font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  



    
}
.animate{
    animation: myAnim 3s ease 0s 1 alternate both;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.Skills-field li img{
    padding: 2px;
    margin: 2px 8px;
    background-color: white;
    position:absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 2px;


}

.Skills-field .Category{
    color:black;
}

